fastapi==0.115.12
uvicorn[standard]==0.34.3
python-dotenv==1.1.0
supabase==2.15.2
pydantic[email]==2.11.3
pydantic-settings==2.9.1
passlib==1.7.4

python-multipart==0.0.20
httpx==0.28.1
structlog==25.1.0
prometheus-fastapi-instrumentator==7.0.2
google-generativeai==0.8.3
